<div class="body-container">
    <div class="main-slide"
         style="background-image: url(<%= image_url 'certifications.jpg' %>); width: 66%; margin-right: 1%;">
        <%= link_to products_certifications_path do %>
            <span class="table-cell">ENplus</span>
        <% end %>
    </div>

    <div class="content">
        <h1><a href="http://www.enplus-pellets.eu/" target="_blank">ENplus</a></h1>

        <p>
            Η υψηλή ποιότητα των προϊόντων από την επεξεργασία άλγης, αποτελεί δέσμευση για την Algae Farms.
        </p>
        <p>
            Για τον σκοπό αυτό η Algae Farms βρίσκεται σε διαδικασία πιστοποίησης σύμφωνα με το πρότυπο EN<i>plus</i>, που εξασφαλίζει σταθερή και αναγνωρισμένη ποιότητα σε ολόκληρο τον κύκλο ζωής του προϊόντος, από την παραγωγή μέχρι την διάθεση στον τελικό καταναλωτή.
        </p>
        <p>
            Το πιστοποιητικό ποιότητας <i>ENplus</i> χορηγείται από την European Biomass Association AEBIOM, και είναι διεθνώς αναγνωρισμένο, καθώς ισχύει και χρησιμοποιείται σε πάρα πολλές ευρωπαϊκές χώρες όπως στην <b>Αυστρία</b>, στο <b>Βέλγιο</b>, στην <b>Κροατία</b>, στην <b>Τσεχία</b>, στη <b>Δανία</b>, στη <b>Γαλλία</b>, στη <b>Γερμανία</b>, στην <b>Ιταλία</b>, στη <b>Λιθουανία</b>, στην <b>Πολωνία</b>, στην <b>Πορτογαλία</b>, στη <b>Ρουμανία</b>, στη <b>Σλοβενία</b>, στη <b>Σλοβακία</b>, στην <b>Ισπανία</b>, στην <b>Ελβετία</b>, στην <b>Ολλανδία</b> και στην <b>Αγγλία</b>, αλλά και στις <b>Η.Π.Α.</b> και στον <b>Καναδά</b>.
        </p>
    </div>
</div>
