<div class="body-container">
    <div class="main-slide"
         style="background-image: url(<%= image_url 'vials.png' %>); width: 66%; margin-right: 1%;">
        <%= link_to products_certifications_path do %>
            <span class="table-cell">ISCC</span>
        <% end %>
    </div>

    <div class="content">
        <h1><a href="http://www.iscc-system.org/" target="_blank">ISCC</a></h1>

        <p>
            Η υψηλή ποιότητα των προϊόντων από την επεξεργασία άλγης, αλλά και η αειφόρος λειτουργία αποτελεί δέσμευση για την Algae Farms.
        </p>
        <p>
            Για τον σκοπό αυτό η Algae Farms βρίσκεται σε διαδικασία πιστοποίησης σύμφωνα με το πρότυπο ISCC (International Sustainability & Carbon Certification).
        </p>
        <p>
            Το ISCC και το ISCC PLUS είναι ανεξάρτητα, εφαρμόσιμα σε παγκόσμια κλίμακα, συστήματα πιστοποίησης για την αειφορία και τις εκπομπές αερίων του θερμοκηπίου.
             Το ISCC εφαρμόζεται για την απόδειξη της συμμόρφωσης με τις απαιτήσεις αειφορίας από τις επιχειρήσεις. Το ISCC μπορεί να εφαρμοστεί για την πιστοποίηση όλων των ειδών βιομάζας και βιοενέργειας, καθώς και για τα προϊόντα με βάση τη βιομάζα στις βιομηχανίες τροφίμων, των ζωοτροφών και των χημικών.
        </p>
        <p>
            Το ISCC εξασφαλίζει ότι:
        </p>
        <ul>
            <li>Κατά την παραγωγή της βιομάζας οι εκπομπές αερίων του θερμοκηπίου μειώνονται.</li>
            <li>Η βιομάζα δεν παράγεται στη γη με υψηλή βιοποικιλότητα και υψηλά αποθέματα άνθρακα.</li>
            <li>Κατά την παραγωγή της βιομάζας εφαρμόζονται ορθές γεωργικές πρακτικές για την προστασία του εδάφους, του νερού και του αέρα.</li>
            <li>Κατά την παραγωγή γίνονται σεβαστά τα ανθρώπινα και εργασιακά δικαιώματα.</li>
        </ul>
    </div>
</div>
