<div class="body-container">
    <div class="content" style="display: block; width: 100%">
        <h1>Ευκαιρίες καριέρας</h1>

        <table>
            <tr>
                <th>Α/Α</th>
                <th>Κωδικός Θέσης</th>
                <th>Θέση</th>
                <th>Ελάχιστα προσόντα</th>
                <th>Περιγραφή</th>
                <th>Διεύθυνση</th>
                <th>Σχόλια</th>
            </tr>
            <tr>
                <td>1</td>
                <td>4CM</td>
                <td>Υπεύθυνος βάρδιας / Τομέα</td>
                <td>Πτυχίο Ηλεκτρολόγου Μηχανικού Τ.Ε. ή Πτυχίο Μηχανολόγου Μηχανικού Τ.Ε. ή Πτυχίο Μηχανικού Αυτοματισμού Τ.Ε. ή Πτυχίο Μηχανικού Ενεργειακής Τεχνολογίας Τ.Ε. ή Πτυχίο Μηχανικού Περιβάλλοντος Τ.Ε. ή Μηχανικού Φυσικών Πόρων Τ.Ε.<br/>Γνώση Αγγλικών επίπεδο Lower.<br/>Γνώση Microsoft Office, AutocCad<br/>3 έτη προϋπηρεσία σε οποιοδήποτε τομέα.<br/>Εκπληρωμένες στρατιωτικές υποχρεώσεις (αρρένες).</td>
                <td>Πρόγραμμα εργασίας<br/>7 μέρες την εβδομάδα,<br/>2 βάρδιες – 40 ώρες εβδομαδιαίως.<br/>Αναφέρεται στο διευθυντή της αντίστοιχης διεύθυνσης.</td>
                <td>Κατασκευών & Συντήρησης</td>
                <td>5 θέσεις.<br/>Κατάθεση βιογραφικών με αποστολή e-mail στο hr@algae-farms.com.<br/>Ο κωδικός της θέσης πρέπει να περιλαμβάνεται στο θέμα του e-mail</td>
            </tr>
            <tr>
                <td>2</td>
                <td>4P</td>
                <td>Υπεύθυνος βάρδιας / Τομέα</td>
                <td>Πτυχίο Τεχνολόγου Αλιείας Τ.Ε. ή Πτυχίο Τεχνολόγου Γεωπονίας Τ.Ε. (Τμήμα Φυτικής Παραγωγής ή Τμήμα Ζωικής Παραγωγής ή Τμήμα Μηχανικής Βιοσυστημάτων ή Τμήμα Τεχνολόγων Γεωπόνων).<br/>Γνώση Αγγλικών επίπεδο Lower<br/>Γνώση Microsoft Office<br/>1-3 έτη προϋπηρεσία σε οποιοδήποτε τομέα.<br/>Εκπληρωμένες στρατιωτικές υποχρεώσεις (αρρένες).</td>
                <td>Πρόγραμμα εργασίας<br/>7 μέρες την εβδομάδα,<br/>3 βάρδιες – 40 ώρες εβδομαδιαίως.<br/>Αναφέρεται στο διευθυντή της αντίστοιχης διεύθυνσης.</td>
                <td>Παραγωγής</td>
                <td>5 θέσεις.<br/>Κατάθεση βιογραφικών με αποστολή e-mail στο hr@algae-farms.com.<br/>Ο κωδικός της θέσης πρέπει να περιλαμβάνεται στο θέμα του e-mail</td>
            </tr>
            <tr>
                <td>3</td>
                <td>4IT</td>
                <td>Υπεύθυνος βάρδιας</td>
                <td>Πτυχίο Μηχανικού Ηλεκτρονικών Υπολογιστών Τ.Ε. ή<br/>Πτυχίο Μηχανικού Πληροφορικής Τ.Ε.<br/>Γνώση Αγγλικών επίπεδο Proficiency.<br/>3 έτη προϋπηρεσία.<br/>Εκπληρωμένες στρατιωτικές υποχρεώσεις (αρρένες).</td>
                <td>Πρόγραμμα εργασίας<br/>7 μέρες την εβδομάδα,<br/>3 βάρδιες – 40 ώρες εβδομαδιαίως.<br/>Αναφέρεται στο διευθυντή της αντίστοιχης διεύθυνσης.</td>
                <td>Πληροφορικής</td>
                <td>5 θέσεις.<br/>Κατάθεση βιογραφικών με αποστολή e-mail στο hr@algae-farms.com.<br/>Ο κωδικός της θέσης πρέπει να περιλαμβάνεται στο θέμα του e-mail</td>
            </tr>
            <tr>
                <td>4</td>
                <td>4AA</td>
                <td>Γραμματεία</td>
                <td>Γνώση Αγγλικών επίπεδο Proficiency.<br/>Γνώση Η/Υ (ECDL core) και Microsoft Office<br/>Εκπληρωμένες στρατιωτικές υποχρεώσεις (αρρένες).</td>
                <td>Πρόγραμμα εργασίας<br/>5 μέρες την εβδομάδα,<br/>2 βάρδιες – 40 ώρες εβδομαδιαίως.<br/>Αναφέρεται στο διευθυντή της αντίστοιχης διεύθυνσης.</td>
                <td>Λογιστηρίου & Διοικητικού</td>
                <td>2 θέσεις.<br/>Κατάθεση βιογραφικών με αποστολή e-mail στο hr@algae-farms.com.<br/>Ο κωδικός της θέσης πρέπει να περιλαμβάνεται στο θέμα του e-mail</td>
            </tr>
            <tr>
                <td>5</td>
                <td>4AA/5</td>
                <td>Εξωτερική φύλαξη εγκατάστασης</td>
                <td>Απόφοιτος Λυκείου.<br/>Γνώση Αγγλικών.<br/>Εκπληρωμένες στρατιωτικές υποχρεώσεις (αρρένες).</td>
                <td>Πρόγραμμα εργασίας<br/>7 μέρες την εβδομάδα,<br/>3 βάρδιες – 40 ώρες εβδομαδιαίως.<br/>Αναφέρεται στον υπεύθυνο βάρδιας της αντίστοιχης διεύθυνσης.</td>
                <td>Λογιστηρίου & Διοικητικού</td>
                <td>20 θέσεις.<br/>Κατάθεση βιογραφικών με αποστολή e-mail στο hr@algae-farms.com.<br/>Ο κωδικός της θέσης πρέπει να περιλαμβάνεται στο θέμα του e-mail</td>
            </tr>
            <tr>
                <td>6</td>
                <td>5CM</td>
                <td>6 5CM Τεχνικός κατασκευών & συντήρησης, ηλεκτροσυγκολλητής</td>
                <td>Αδειούχος ηλεκτροσυγκολλητής Α’ και Β’ τάξεως.<br/>Εκπληρωμένες στρατιωτικές υποχρεώσεις (αρρένες).</td>
                <td>Πρόγραμμα εργασίας<br/>7 μέρες την εβδομάδα,<br/>2 βάρδιες – 40 ώρες εβδομαδιαίως.<br/>Αναφέρεται στον υπεύθυνο βάρδιας της αντίστοιχης διεύθυνσης.</td>
                <td>Κατασκευών & Συντήρησης</td>
                <td>5 θέσεις.<br/>Κατάθεση βιογραφικών με αποστολή e-mail στο hr@algae-farms.com.<br/>Ο κωδικός της θέσης πρέπει να περιλαμβάνεται στο θέμα του e-mail</td>
            </tr>
            <tr>
                <td>7</td>
                <td>5CM</td>
                <td>Τεχνικός κατασκευών & συντήρησης, ηλεκτρολόγος</td>
                <td>Γνώση Αγγλικών επίπεδο Lower.<br/>3 έτη προϋπηρεσία.<br/>Εκπληρωμένες στρατιωτικές υποχρεώσεις (αρρένες).</td>
                <td>Πρόγραμμα εργασίας<br/>7 μέρες την εβδομάδα,<br/>2 βάρδιες – 40 ώρες εβδομαδιαίως.<br/>Αναφέρεται στον υπεύθυνο βάρδιας της αντίστοιχης διεύθυνσης.</td>
                <td>Κατασκευών & Συντήρησης</td>
                <td>5 θέσεις.<br/>Κατάθεση βιογραφικών με αποστολή e-mail στο hr@algae-farms.com.<br/>Ο κωδικός της θέσης πρέπει να περιλαμβάνεται στο θέμα του e-mail</td>
            </tr>
            <tr>
                <td>8</td>
                <td>5P</td>
                <td>Τεχνικός παραγωγής</td>
                <td>Απόφοιτος Λυκείου.<br/>Εκπληρωμένες στρατιωτικές υποχρεώσεις (αρρένες).</td>
                <td>Πρόγραμμα εργασίας<br/>7 μέρες την εβδομάδα,<br/>3 βάρδιες – 40 ώρες εβδομαδιαίως.<br/>Αναφέρεται στον υπεύθυνο βάρδιας της αντίστοιχης διεύθυνσης.</td>
                <td>Παραγωγής</td>
                <td>10 θέσεις.<br/>Κατάθεση βιογραφικών με αποστολή e-mail στο hr@algae-farms.com.<br/>Ο κωδικός της θέσης πρέπει να περιλαμβάνεται στο θέμα του e-mail</td>
            </tr>
        </table>
    </div>
</div>
