<div class="body-container">
    <div class="main-slide"
         style="background-image: url(<%= image_url 'vials.jpg' %>); width: 66%; margin-right: 1%;">
        <a href="">
            <span class="table-cell">Ευκαιρίες καριέρας</span>
        </a>
    </div>

    <div class="content">
        <h1>Ευκαιρίες καριέρας</h1>
        <p>
            Σας ευχαριστούμε για το ενδιαφέρον απασχόλησης στην Algae Farms. Οι διαθέσιμες θέσεις εργασίας θα ανακοινωθούν στις 24 Μαρτίου 2014
        </p>
    </div>
</div>
