<div class="body-container">
    <div class="main-slide"
         style="background-image: url(<%= image_url 'vials.png' %>); width: 66%; margin-right: 1%;">
        <a href="">
            <span class="table-cell">Ευκαιρίες καριέρας</span>
        </a>
    </div>

    <div class="content">
        <h1>Ευκαιρίες καριέρας</h1>
        <h2>Υπεύθυνος βάρδιας / Τομέα</h2>
        <p>
            <b>Διεύθυνση Κατασκευών & Συντήρησης</b><br/>
            <b>Κωδικός Θέσης:</b> 4CM<br/>
            <b>Περιγραφή</b>
        <ul>
            <li>Πρόγραμμα εργασίας 7 μέρες την εβδομάδα (2 βάρδιες – 40 ώρες εβδομαδιαίως)</li>
            <li>Αναφέρεται στο διευθυντή της αντίστοιχης διεύθυνσης</li>
        </ul>
        <b>Ελάχιστα Προσόντα</b>
        <ul>
            <li>Πτυχίο Ηλεκτρολόγου Μηχανικού Τ.Ε. ή Πτυχίο Μηχανολόγου Μηχανικού Τ.Ε. ή Πτυχίο Μηχανικού Αυτοματισμού Τ.Ε. ή Πτυχίο Μηχανικού Ενεργειακής Τεχνολογίας Τ.Ε. ή Πτυχίο Μηχανικού Περιβάλλοντος Τ.Ε. ή Μηχανικού Φυσικών Πόρων Τ.Ε.</li>
            <li>Γνώση Αγγλικών επίπεδο Lower</li>
            <li>Γνώση Microsoft Office, AutocCad</li>
            <li>3 έτη προϋπηρεσία σε οποιοδήποτε τομέα</li>
            <li>Εκπληρωμένες στρατιωτικές υποχρεώσεις (αρρένες)</li>
        </ul>
        <b>Λεπτομέρειες:</b> 5 θέσεις<br/>
        Κατάθεση βιογραφικών με αποστολή e-mail στο <a href="mailto:hr@algae-farms.com">hr@algae-farms.com</a>.<br/>Ο κωδικός της θέσης πρέπει να περιλαμβάνεται στο θέμα του e-mail
        </p>

        <h2>Υπεύθυνος βάρδιας / Τομέα</h2>
        <p>
            <b>Διεύθυνση Παραγωγής</b><br/>
            <b>Κωδικός Θέσης:</b> 4P<br/>
            <b>Περιγραφή</b>
        <ul>
            <li>Πρόγραμμα εργασίας 7 μέρες την εβδομάδα (3 βάρδιες – 40 ώρες εβδομαδιαίως)</li>
            <li>Αναφέρεται στο διευθυντή της αντίστοιχης διεύθυνσης</li>
        </ul>
        <b>Ελάχιστα Προσόντα</b>
        <ul>
            <li>Πτυχίο Τεχνολόγου Αλιείας Τ.Ε. ή Πτυχίο Τεχνολόγου Γεωπονίας Τ.Ε. (Τμήμα Φυτικής Παραγωγής ή Τμήμα Ζωικής Παραγωγής ή Τμήμα Μηχανικής Βιοσυστημάτων ή Τμήμα Τεχνολόγων Γεωπόνων)</li>
            <li>Γνώση Αγγλικών επίπεδο Lower</li>
            <li>Γνώση Microsoft Office</li>
            <li>1-3 έτη προϋπηρεσία σε οποιοδήποτε τομέα</li>
            <li>Εκπληρωμένες στρατιωτικές υποχρεώσεις (αρρένες)</li>
        </ul>
        <b>Λεπτομέρειες:</b> 5 θέσεις<br/>
        Κατάθεση βιογραφικών με αποστολή e-mail στο <a href="mailto:hr@algae-farms.com">hr@algae-farms.com</a>.<br/>Ο κωδικός της θέσης πρέπει να περιλαμβάνεται στο θέμα του e-mail
        </p>

        <h2>Υπεύθυνος βάρδιας</h2>
        <p>
            <b>Διεύθυνση Πληροφορικής</b><br/>
            <b>Κωδικός Θέσης:</b> 4IT<br/>
            <b>Περιγραφή</b>
        <ul>
            <li>Πρόγραμμα εργασίας 7 μέρες την εβδομάδα (3 βάρδιες – 40 ώρες εβδομαδιαίως)</li>
            <li>Αναφέρεται στο διευθυντή της αντίστοιχης διεύθυνσης</li>
        </ul>
        <b>Ελάχιστα Προσόντα</b>
        <ul>
            <li>Πτυχίο Μηχανικού Ηλεκτρονικών Υπολογιστών Τ.Ε. ή Πτυχίο Μηχανικού Πληροφορικής Τ.Ε.</li>
            <li>Γνώση Αγγλικών επίπεδο Proficiency</li>
            <li>3 έτη προϋπηρεσία</li>
            <li>Εκπληρωμένες στρατιωτικές υποχρεώσεις (αρρένες)</li>
        </ul>
        <b>Λεπτομέρειες:</b> 5 θέσεις<br/>
        Κατάθεση βιογραφικών με αποστολή e-mail στο <a href="mailto:hr@algae-farms.com">hr@algae-farms.com</a>.<br/>Ο κωδικός της θέσης πρέπει να περιλαμβάνεται στο θέμα του e-mail
        </p>

        <h2>Γραμματεία</h2>
        <p>
            <b>Διεύθυνση Λογιστηρίου & Διοικητικού</b><br/>
            <b>Κωδικός Θέσης:</b> 4AA<br/>
            <b>Περιγραφή</b>
        <ul>
            <li>Πρόγραμμα εργασίας 5 μέρες την εβδομάδα (2 βάρδιες – 40 ώρες εβδομαδιαίως)</li>
            <li>Αναφέρεται στο διευθυντή της αντίστοιχης διεύθυνσης</li>
        </ul>
        <b>Ελάχιστα Προσόντα</b>
        <ul>
            <li>Γνώση Αγγλικών επίπεδο Proficiency</li>
            <li>Γνώση Η/Υ (ECDL core) και Microsoft Office</li>
            <li>Εκπληρωμένες στρατιωτικές υποχρεώσεις (αρρένες)</li>
        </ul>
        <b>Λεπτομέρειες:</b> 2 θέσεις<br/>
        Κατάθεση βιογραφικών με αποστολή e-mail στο <a href="mailto:hr@algae-farms.com">hr@algae-farms.com</a>.<br/>Ο κωδικός της θέσης πρέπει να περιλαμβάνεται στο θέμα του e-mail
        </p>

        <h2>Εξωτερική φύλαξη εγκατάστασης</h2>
        <p>
            <b>Διεύθυνση Λογιστηρίου & Διοικητικού</b><br/>
            <b>Κωδικός Θέσης:</b> 4AA/5<br/>
            <b>Περιγραφή</b>
        <ul>
            <li>Πρόγραμμα εργασίας 7 μέρες την εβδομάδα (3 βάρδιες – 40 ώρες εβδομαδιαίως)</li>
            <li>Αναφέρεται στον υπεύθυνο βάρδιας της αντίστοιχης διεύθυνσης</li>
        </ul>
        <b>Ελάχιστα Προσόντα</b>
        <ul>
            <li>Απόφοιτος Λυκείου</li>
            <li>Γνώση Αγγλικών</li>
            <li>Εκπληρωμένες στρατιωτικές υποχρεώσεις (αρρένες)</li>
        </ul>
        <b>Λεπτομέρειες:</b> 20 θέσεις<br/>
        Κατάθεση βιογραφικών με αποστολή e-mail στο <a href="mailto:hr@algae-farms.com">hr@algae-farms.com</a>.<br/>Ο κωδικός της θέσης πρέπει να περιλαμβάνεται στο θέμα του e-mail
        </p>

        <h2>Τεχνικός κατασκευών & συντήρησης, ηλεκτροσυγκολλητής</h2>
        <p>
            <b>Διεύθυνση Κατασκευών & Συντήρησης</b><br/>
            <b>Κωδικός Θέσης:</b> 5CM<br/>
            <b>Περιγραφή</b>
        <ul>
            <li>Πρόγραμμα εργασίας 7 μέρες την εβδομάδα (2 βάρδιες – 40 ώρες εβδομαδιαίως)</li>
            <li>Αναφέρεται στον υπεύθυνο βάρδιας της αντίστοιχης διεύθυνσης</li>
        </ul>
        <b>Ελάχιστα Προσόντα</b>
        <ul>
            <li>Αδειούχος ηλεκτροσυγκολλητής Α’ και Β’ τάξεως</li>
            <li>Εκπληρωμένες στρατιωτικές υποχρεώσεις (αρρένες)</li>
        </ul>
        <b>Λεπτομέρειες:</b> 5 θέσεις<br/>
        Κατάθεση βιογραφικών με αποστολή e-mail στο <a href="mailto:hr@algae-farms.com">hr@algae-farms.com</a>.<br/>Ο κωδικός της θέσης πρέπει να περιλαμβάνεται στο θέμα του e-mail
        </p>

        <h2>Τεχνικός κατασκευών & συντήρησης, ηλεκτρολόγος</h2>
        <p>
            <b>Διεύθυνση Κατασκευών & Συντήρησης</b><br/>
            <b>Κωδικός Θέσης:</b> 5CM<br/>
            <b>Περιγραφή</b>
        <ul>
            <li>Πρόγραμμα εργασίας 7 μέρες την εβδομάδα (2 βάρδιες – 40 ώρες εβδομαδιαίως)</li>
            <li>Αναφέρεται στον υπεύθυνο βάρδιας της αντίστοιχης διεύθυνσης</li>
        </ul>
        <b>Ελάχιστα Προσόντα</b>
        <ul>
            <li>Γνώση Αγγλικών επίπεδο Lower</li>
            <li>3 έτη προϋπηρεσία</li>
            <li>Εκπληρωμένες στρατιωτικές υποχρεώσεις (αρρένες)</li>
        </ul>
        <b>Λεπτομέρειες:</b> 5 θέσεις<br/>
        Κατάθεση βιογραφικών με αποστολή e-mail στο <a href="mailto:hr@algae-farms.com">hr@algae-farms.com</a>.<br/>Ο κωδικός της θέσης πρέπει να περιλαμβάνεται στο θέμα του e-mail
        </p>

        <h2>Τεχνικός παραγωγής</h2>
        <p>
            <b>Διεύθυνση Παραγωγής</b><br/>
            <b>Κωδικός Θέσης:</b> 5P<br/>
            <b>Περιγραφή</b>
        <ul>
            <li>Πρόγραμμα εργασίας 7 μέρες την εβδομάδα (3 βάρδιες – 40 ώρες εβδομαδιαίως)</li>
            <li>Αναφέρεται στον υπεύθυνο βάρδιας της αντίστοιχης διεύθυνσης</li>
        </ul>
        <b>Ελάχιστα Προσόντα</b>
        <ul>
            <li>Απόφοιτος Λυκείου</li>
            <li>Εκπληρωμένες στρατιωτικές υποχρεώσεις (αρρένες)</li>
        </ul>
        <b>Λεπτομέρειες:</b> 10 θέσεις<br/>
        Κατάθεση βιογραφικών με αποστολή e-mail στο <a href="mailto:hr@algae-farms.com">hr@algae-farms.com</a>.<br/>Ο κωδικός της θέσης πρέπει να περιλαμβάνεται στο θέμα του e-mail
        </p>
    </div>
</div>
