<div class="body-container">
    <div class="main-slide"
         style="background-image: url(<%= image_url 'vials.png' %>); width: 66%; margin-right: 1%;">
        <a href="">
            <span class="table-cell">Επικοινωνία</span>
        </a>
    </div>

    <div class="content">
        <h1>Επικοινωνία</h1>

        <p>
            ΒΙ.ΠΕ. Πρεβέζης<br/>
            Ο.Τ. 12 ΤΚ 48100<br/>
            Πρέβεζα, Ελλάδα
        </p>
        <p>
            Τηλ: (+30) 2682041515
            Email: <%= mail_to 'info@algae-farms.com' %>
        </p>
    </div>
</div>
