<div class="body-container">
    <div class="main-slide"
         style="background-image: url(<%= image_url 'vials.png' %>); width: 66%; margin-right: 1%;">
        <a href="#">
            <span class="table-cell">Επικοινωνία</span>
        </a>
    </div>

    <div class="content" style="display: block">
        <h1>Επικοινωνία</h1>

        <p>πληροφορίες για τη διεύθυνση της ΙΚΕ παραγωγής άλγης Ηπείρου</p>

        <p><%= mail_to 'info@algae-farms.com' %></p>
    </div>
</div>
