<div class="body-container">
    <div class="main-slide"
         style="background-image: url(<%= image_url 'slide_01.jpg' %>); width: 66%; margin-right: 1%;">
        <a href="#">
            <span class="table-cell">Οικονομικά στοιχεία</span>
        </a>
    </div>

    <div class="content" style="display: block">
        <h1>Οικονομικά στοιχεία</h1>

        <p></p>
    </div>
</div>
