<div class="body-container">
    <div class="main-slide"
         style="background-image: url(<%= image_url 'govern.jpg' %>); width: 66%; margin-right: 1%;">
        <%= link_to invest_path do %>
            <span class="table-cell">Εταιρική διακυβέρνηση</span>
        <% end %>
    </div>

    <div class="content">
        <h1>Εταιρική διακυβέρνηση</h1>

        <p>
            Η Εταιρεία θα παρουσιάσει Κώδικα Εταιρικής Διακυβέρνησης σύμφωνα με τα προβλεπόμενα στην ισχύουσα νομοθεσία και της αρχές που παρουσιάστηκαν στην έκδοση <b>"Ελληνικός Κώδικας Εταιρικής Διακυβέρνησης (ΕΚΕΔ) για τις Εισηγμένες Εταιρείες"</b> του Ελληνικού Συμβουλίου Εταιρικής Διακυβέρνησης τον Οκτώβριο του 2013, πριν την πρώτη ετήσια τακτική γενική συνέλευση της το 2015.
        </p>
    </div>
</div>
