<div class="body-container">
    <div class="main-slide slide-01">
        <a href="#">
            <span class="table-cell">Καλώς ήρθατε στην Algae farms</span>
        </a>
    </div>
    <div class="main-slide slide-02">
        <a href="#">
            <span class="table-cell">Το όραμα μας</span>
        </a>
    </div>
    <div class="main-slide slide-03 last">
        <a href="#">
            <span class="table-cell">Οι εγκαταστάσεις</span>
        </a>
    </div>
</div>
