<div class="body-container">
    <div class="main-slide slide-01"
         data-active-background-position-x="0px" data-inactive-background-position-x="-400px"
         data-active-width="66%" data-inactive-width="33%">
        <a href="#">
            <span class="table-cell">Καλώς ήρθατε στην Algae farms</span>
        </a>
    </div>

    <div class="content">
        <h1>Καλώς ήρθατε στην Algae farms</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar posuere leo eget feugiat. Suspendisse sit amet mollis urna, nec interdum nunc. Morbi euismod lacus ipsum, in dignissim turpis tempus vitae. Etiam vehicula massa viverra commodo venenatis. Vestibulum accumsan, risus non suscipit aliquam, est magna sollicitudin tellus, vitae lacinia turpis ligula ac orci. Suspendisse molestie, augue non rutrum porttitor, felis mi tristique turpis, et ultrices sem dui a lacus. In hac habitasse platea dictumst. Quisque luctus mi id porta varius. Donec fermentum nec sapien quis pharetra. Aenean aliquam lacus nec sem facilisis, ac tristique nisl volutpat. Donec ac metus enim. Fusce quis est nec metus dapibus ultrices. Nulla eu tristique nulla. Quisque sed urna nibh. Aliquam et ante dolor.</p>

        <p>Etiam ac augue dapibus, dapibus magna vitae, consequat dui. Pellentesque vitae elementum nisi, vitae fermentum magna. Aenean adipiscing nisi sed malesuada adipiscing. Vivamus eget malesuada mi. Suspendisse molestie commodo rhoncus. In tristique tincidunt rhoncus. Sed iaculis odio mauris, eget scelerisque nibh tincidunt vel. Vivamus mollis quam non sem adipiscing mollis.</p>

        <p>Donec imperdiet eros nec velit pharetra auctor. Phasellus nec arcu faucibus, facilisis lacus vel, consequat turpis. Suspendisse et libero a risus accumsan dictum ac et justo. Proin pretium massa vitae tempus consectetur. Mauris porttitor hendrerit nunc, sit amet luctus enim consectetur in. Maecenas non augue at lectus varius rhoncus vitae ac magna. Vestibulum egestas, ante in commodo suscipit, ante urna tristique orci, eget scelerisque libero arcu a purus. Vestibulum rhoncus tortor eu ante porta, et dictum turpis faucibus. Morbi non risus cursus, adipiscing leo ac, hendrerit justo.</p>
    </div>

    <div class="main-slide slide-02"
         data-active-background-position-x="0px" data-inactive-background-position-x="-190px"
         data-active-width="66%" data-inactive-width="33%">
        <a href="#">
            <span class="table-cell">Το όραμα μας</span>
        </a>
    </div>

    <div class="content">
        <h1>Το όραμα μας</h1>

        <p>Curabitur gravida ante sed enim molestie vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed accumsan, nunc at egestas scelerisque, lectus arcu tempus metus, sit amet viverra tortor diam in lectus. Sed augue arcu, tempus at velit ac, commodo auctor enim. Cras in leo in elit pellentesque blandit. Maecenas pharetra, libero id pretium tincidunt, turpis augue ornare arcu, non pharetra nulla elit ac ligula. Nunc iaculis lacus enim, in scelerisque nulla vehicula eleifend. Sed aliquam erat id metus mollis, ac auctor sem ultricies. Nunc ut malesuada nibh. Praesent a tortor ornare lorem varius eleifend. Fusce gravida aliquam velit condimentum sodales. Nulla nec elit augue.</p>

        <p>Aenean commodo varius nunc. Duis felis eros, molestie eu diam sit amet, sollicitudin consectetur tellus. Praesent eget nunc vel orci facilisis euismod sed eu augue. Phasellus tristique tellus at quam ornare auctor. Maecenas nunc justo, eleifend a arcu eget, iaculis tincidunt erat. Ut aliquam aliquet ligula vitae molestie. Mauris nec pharetra purus, eget malesuada nisl. Phasellus lobortis malesuada sapien, ut facilisis urna facilisis quis. Vestibulum egestas elementum molestie. Vivamus est arcu, congue vel massa vitae, rutrum malesuada lectus. Ut mollis elementum ipsum, at consequat libero feugiat vel. Ut quis risus ac orci cursus auctor eu vel arcu. Duis massa ante, ultricies sed feugiat ac, facilisis nec metus. Sed nunc diam, laoreet eu sodales ut, rhoncus et nulla.</p>

        <p>Aliquam ut augue felis. Pellentesque urna lacus, rhoncus sed viverra eu, scelerisque a risus. Aenean quis arcu et lorem rhoncus congue. Suspendisse auctor feugiat justo, congue viverra leo gravida sed. Quisque facilisis sed orci sed lacinia. Donec rutrum mauris sed porta mattis. Donec feugiat dictum neque, rutrum dapibus dolor consequat vitae. Nulla molestie auctor turpis, non tristique eros vehicula a. Morbi commodo auctor ligula, ac cursus leo. Fusce sit amet consequat est. Vestibulum at posuere est, sed tristique erat. Quisque in lectus suscipit, viverra dui sed, fringilla erat. Nulla imperdiet ultrices odio vitae placerat. In vel diam id ante commodo cursus. Suspendisse sodales elementum ante et porta.</p>
    </div>

    <div class="main-slide slide-03 last"
         data-active-background-position-x="0px" data-inactive-background-position-x="-180px"
         data-active-width="66%" data-inactive-width="32%">
        <a href="#">
            <span class="table-cell">Οι εγκαταστάσεις</span>
        </a>
    </div>

    <div class="content last">
        <h1>Οι εγκαταστάσεις</h1>

        <p>Vivamus sollicitudin elementum porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed dictum turpis vel nibh tincidunt, id vehicula nibh fringilla. Nullam placerat nisi diam, ac facilisis sem sollicitudin eu. Integer euismod nulla id erat fringilla, vel dictum diam ornare. Sed non eleifend est. Sed auctor tortor quis commodo consectetur. Nulla facilisi. Vivamus euismod sed ipsum cursus dapibus. Aenean sit amet nunc est. Nunc sit amet nulla quis nunc facilisis ullamcorper. Nulla facilisi.</p>

        <p>Vivamus eget massa velit. Integer nec rhoncus dolor. Aenean imperdiet metus sem, vitae placerat est convallis in. Sed enim magna, sodales non adipiscing nec, fermentum non mi. Quisque nec ligula ut metus placerat eleifend sed id massa. Vestibulum in est id turpis ullamcorper dignissim. Vestibulum consectetur blandit condimentum. Proin id justo eu lectus sodales eleifend. Curabitur cursus, ligula non rutrum ultricies, lacus sapien tempus leo, eget ultricies metus ligula non sapien. Nullam ligula libero, placerat at felis ac, euismod scelerisque sem. Aenean tincidunt nunc neque, eget bibendum massa sodales a. In semper felis ut hendrerit interdum. Donec varius arcu vitae rhoncus ultricies. Nullam at volutpat justo, a tempor arcu. Ut hendrerit adipiscing odio non imperdiet. Duis augue orci, pharetra cursus eros et, vulputate bibendum nibh.</p>

        <p>Maecenas dictum lacinia magna vitae suscipit. Phasellus in eleifend lectus, non ornare nulla. Sed neque urna, volutpat sed libero sed, ullamcorper sodales lectus. Praesent adipiscing odio quis porta dapibus. Cras faucibus tortor in erat posuere condimentum. In hac habitasse platea dictumst. Ut non sem dui. Sed pulvinar leo augue, id fermentum metus hendrerit non. Cras tempus massa in nisl convallis, eleifend feugiat urna porttitor. Morbi ante dui, posuere venenatis commodo ut, mattis in justo. Morbi lacus eros, egestas et facilisis sed, pretium at ligula. Proin aliquet lacus ipsum, quis molestie sapien egestas quis. Sed sodales cursus nulla quis lobortis. Sed suscipit rutrum felis, a eleifend neque fringilla mollis. Proin eu pellentesque orci.</p>
    </div>
</div>
