<div class="body-container">
    <div class="main-slide expandable three-slides"
         data-active-background-position-x="0px" data-inactive-background-position-x="-400px"
         data-active-width="66%" data-inactive-width="33%"
         style="background-image: url(<%= image_url 'slide_01.jpg' %>); background-position: -400px;">
        <a href="#">
            <span class="table-cell">Καλώς ήρθατε στην Algae farms</span>
        </a>
    </div>

    <div class="content">
        <h1>Καλώς ήρθατε στην Algae farms</h1>

        <p>Η εταιρεία δραστηριοποιείται στον τομέα των ανανεώσιμων και των συμβατικών καύσιμων, παράγοντας pellets & briquettes άλγης, βιοέλαιο άλγης (algae biooil) το οποίο αποτελεί πρώτη υλη για βιοντίζελ (algae biodiesel) , για χρήση από για βιομηχανικούς, βιοτεχνικούς, οικιακούς καταναλωτές καθώς επίσης για ναυτιλιακό και αεροπορικό βιοκαύσιμο.</p>

        <p>Η επένδυση αποτελεί υλοποίηση επέκταση της βραβευμένης με το πρώτο βραβείο στο διαγωνισμό “Make Innovation Work” του Ελληνοαμερικανικού Επιμελητηρίου και υπό την αιγίδα του κ Πρωθυπουργού πρότασης, με αντικείμενο την παραγωγή βιομάζας άλγης με υψηλή θερμιδική αξία ως εναλλακτικό καύσιμο.</p>

        <p>Ενδεικτικά αναφέρουμε ότι υπάρχουν περισσότερα από 300.000 είδη άλγης.</p>

        <p>Από την άλγη μπορούν να παραχθούν φαρμακευτικά προϊόντα (π.χ. υαλουρονικό οξύ, Ω3), καλλυντικά, πρωτεΐνες, ζωοτροφές, λιπάσματα, ενέργεια κλπ. Η συγκεκριμένη επένδυση επικεντρώνετε αποκλειστικά στον τομέα της ενέργειας.</p>

        <p>Η επιλογή της σωστής άλγης αποτελεί συνδυασμό των τοπικών κλιματολογικών συνθηκών και του τελικού προϊόντος που θα παραχθεί, στη συγκριμένη περίπτωση καύσιμο.</p>

        <p>Εκτός από την ανταγωνιστική τιμή θα πρέπει να τονίσουμε ότι η άλγη είναι εξαιρετικά φιλικό καύσιμο προς το περιβάλλον αν λάβουμε υπόψη ότι για κάθε 1 (ένα) κιλό άλγης που παράγουμε η άλγη μέσω της διαδικασίας φωτοσύνθεσης απορρόφα 2 (δυο) κιλά CO2.</p>

        <p>Επίσης θα πρέπει να τονίσουμε ότι για την παραγωγή άλγης δεν απαιτεί η χρήση παραγωγικής γης, με αποτέλεσμα να μην επηρεάζουμε την παραγωγή τροφίμων όπως άλλα βιοκαύσιμα τα τελευταία χρόνια (π.χ. σόγια, ηλίανθος, ζαχαροκάλαμο, ζαχαρότευτλα κλπ) με κύριο αντίκτυπο στις τιμές των τελικών προϊόντων διατροφής.</p>

        <p>Τα δυο προαναφερόμενα χαρακτηριστικά της άλγης είναι αυτά τα οποία οδήγησαν και την Ευρωπαϊκή ΈΈνωση να κατατάξουν την άλγη ως πρώτη επιλογή για τα βιοκαύσιμα δεύτερης γενιάς, εγκαταλείποντας σταδιακά μέχρι το 2020 τα βιοκαύσιμα πρώτης γενιάς, πως αυτά τα οποία αναφέρονται ανωτέρω.</p>

        <p>Η μέθοδος παραγωγής μας είναι η πρώτη που επέτρεψε να παράγετε άλγη σε μεγάλες ποσότητες με υψηλή θερμογόνα δύναμη και ανταγωνιστική τιμή δημιουργώντας ένα πραγματικό εμπορικό προϊόν. Την περίοδο αυτή βρισκόμαστε σε διαδικασία διεθνούς κατοχύρωσης της ερασιτεχνίας.</p>

        <p>Η εταιρεία είναι η μοναδική ελληνική εταιρία η οποία χρησιμοποιεί για την παραγωγή των προϊόντων της, την άλγη και η μοναδική στη Ευρώπη που μπορεί να παραδώσει ανανεώσιμα βιοκαύσιμα από άλγη ή οποιαδήποτε άλλη ανανεώσιμη πηγή, σε κόστος χαμηλότερο από τα από τη σημερινή τιμή των συμβατικών καύσιμων πριν τη φορολόγηση.</p>

        <p>Η παραγωγική διαδικασία της εταιρεία προστατεύετε από διεθνείς πατέντες (σε εξέλιξη), αλλά θα συνέχιση να εξελίσσετε σε μια προσπάθεια να αποστασιοποιηθεί ακόμα περισσότερο από τον ανταγωνισμό.</p>

        <p>Έχοντας υπόψη όλα τα παραπάνω, τα οποία φυσικά και δεν αποτελούν ένα παροδικό γεγονός, τοποθετούμε το προϊόν μας στην αγορά ενέργειας , τόσο των συμβατικών καυσίμων όσο και των εναλλακτικών, με κύρια παράμετρο την εξαιρετικά ελκυστική του τιμή σε σχέση με τη θερμογόνο δύναμη του, τόσο στη στερεά μορφή (pellets & briquettes άλγης), όσο και σε υγρή (βιοέλαιο άλγης-algae biooil και βιοντίζελ άλγης-algae biodiesel).</p>
    </div>

    <div class="main-slide expandable three-slides"
         data-active-background-position-x="0px" data-inactive-background-position-x="-190px"
         data-active-width="66%" data-inactive-width="33%"
         style="background-image: url(<%= image_url 'slide_02.jpg' %>); background-position: -190px;">
        <a href="#">
            <span class="table-cell">Το όραμα μας</span>
        </a>
    </div>

    <div class="content">
        <h1>Το όραμα μας</h1>

        <p>Η παραγωγή και η διαχείριση της ενέργειας αποτελεί σήμερα το επίκεντρο της διεθνούς οικονομικής και κοινωνικής ανάπτυξης. Οι ενεργειακές επιλογές έχουν άμεσο αντίκτυπο σε όλους τους τομείς της κοινωνικής και οικονομικής δραστηριότητας. Ταυτόχρονα, οι συνθήκες γίνονται ολοένα και πιο δύσκολες, καθώς:</p>

        <ul>
            <li>Η ζήτηση ενέργειας αυξάνεται με ραγδαίο ρυθμό, απαιτώντας όλο και περισσότερους ενεργειακούς πόρους.</li>
            <li>Η εξάρτηση από το πετρέλαιο είναι πολύ μεγάλη, με σημαντικό αντίκτυπο στο κόστος παραγωγής.</li>
            <li>Η χρήση συμβατικών καυσίμων έχει σημαντικές περιβαλλοντικές επιπτώσεις.</li>
            <li>Η παραγωγή ηλεκτρικής ενέργειας στην Ελλάδα είναι περιορισμένη. Αναγκαζόμαστε έτσι να εισάγουμε ενέργεια από γειτονικές χώρες, με σημαντικές απώλειες για την ελληνική οικονομία.</li>
        </ul>

        <p>Η Algae-Farms δραστηριοποιείται στον τομέα παραγωγής ανανεώσιμων και συμβατικών καύσιμων, παράγοντας pellets & briquettes άλγης, καθώς και βιοέλαιο άλγης (algae biooil) το οποίο αποτελεί πρώτη ύλη για βιοντίζελ (algae biodiesel), κατάλληλο για χρήση τόσο από βιομηχανικούς, βιοτεχνικούς και οικιακούς καταναλωτές, καθώς επίσης και για ναυτιλιακό και αεροπορικό βιοκαύσιμο.</p>

        <p>Η εταιρεία μας είναι σήμερα η μοναδική ελληνική εταιρία η οποία χρησιμοποιεί άλγη για την παραγωγή των προϊόντων της και η μοναδική στη Ευρώπη που μπορεί να παραδώσει ανανεώσιμα βιοκαύσιμα από άλγη ή οποιαδήποτε άλλη ανανεώσιμη πηγή, σε κόστος χαμηλότερο από τα από τη σημερινή τιμή των συμβατικών καύσιμων πριν τη φορολόγηση.</p>

        <p>Όραμά μας είναι η Algae-Farms να γίνει μία από τις μεγαλύτερες εταιρείες παραγωγής βιοκαυσίμων, με πολλαπλά οικονομικά και περιβαλλοντικά οφέλη για την εθνική και την τοπική οικονομία, μέσα από την υλοποίηση της πράσινης περιφερειακής ανάπτυξης, την ανάπτυξη της καινοτομίας, τη δημιουργία νέων θέσεων εργασίας και τη συγκράτηση των τοπικών πληθυσμών.</p>

        <p>Στρατηγικός μας στόχος είναι η αύξηση της διείσδυσης των ανανεώσιμων πηγών ενέργειας, με επίκεντρο τα βιοκαύσιμα, στην ελληνική αλλά και στη διεθνή ενεργειακή σκηνή και η προώθηση νέων τεχνολογιών και πρακτικών για τη βελτίωση της ενεργειακής αποδοτικότητας.</p>
    </div>

    <div class="main-slide expandable three-slides last"
         data-active-background-position-x="0px" data-inactive-background-position-x="-180px"
         data-active-width="66%" data-inactive-width="32%"
         style="background-image: url(<%= image_url 'slide_03.jpg' %>); background-position: -180px;">
        <a href="#">
            <span class="table-cell">Οι εγκαταστάσεις</span>
        </a>
    </div>

    <div class="content last">
        <h1>Οι εγκαταστάσεις</h1>

        <p>Η Algae-Farms δραστηριοποιείται στον τομέα παραγωγής ανανεώσιμων και συμβατικών καύσιμων, παράγοντας pellets & briquettes άλγης, καθώς και βιοέλαιο άλγης (algae biooil) το οποίο αποτελεί πρώτη ύλη για βιοντίζελ (algae biodiesel), κατάλληλο για χρήση τόσο από βιομηχανικούς, βιοτεχνικούς και οικιακούς καταναλωτές, καθώς επίσης και για ναυτιλιακό και αεροπορικό βιοκαύσιμο.</p>

        <p>Η εταιρεία μας είναι σήμερα η μοναδική ελληνική εταιρία η οποία χρησιμοποιεί άλγη για την παραγωγή των προϊόντων της και η μοναδική στη Ευρώπη που μπορεί να παραδώσει ανανεώσιμα βιοκαύσιμα από άλγη ή οποιαδήποτε άλλη ανανεώσιμη πηγή, σε κόστος χαμηλότερο από τα από τη σημερινή τιμή των συμβατικών καύσιμων πριν τη φορολόγηση.</p>

        <p>Η εταιρεία είναι εγκατεστημένη στην Βιομηχανική Περιοχή (ΒΙ.ΠΕ) Πρέβεζας και διαθέτει τις πλέον σύγχρονες εγκαταστάσεις, με εξοπλισμό τελευταίας τεχνολογίας. Όλη η διαδικασία ελέγχεται απο ηλεκτρονικούς υπολογιστές, εξασφαλίζοντας έτσι την ομαλή παραγωγική διαδικασία και την εγγυημένη ποιότητα του τελικού προϊόντος.</p>

        <p>Επιπλέον, η εκμετάλλευση χέρσου εδάφους για την φιλοξενία μονάδας αγροτικής καλλιέργειας όπως η παραγωγή άλγης αποτελεί μία πραγματικά πρωτοποριακή χρήση γης, ενώ ταυτόχρονα μας επιτρέπει να μην επηρεάζουμε την παραγωγή τροφίμων όπως άλλα βιοκαύσιμα τα τελευταία χρόνια (π.χ. σόγια, ηλίανθος, ζαχαροκάλαμο, ζαχαρότευτλα κλπ) με κύριο αντίκτυπο στις τιμές των τελικών προϊόντων διατροφής.</p>

        <p>Τα δυο αυτά χαρακτηριστικά της άλγης είναι εκείνα τα οποία οδήγησαν και την Ευρωπαϊκή Ένωση να κατατάξουν την άλγη ως πρώτη επιλογή για τα βιοκαύσιμα δεύτερης γενιάς, εγκαταλείποντας σταδιακά μέχρι το 2020 τα βιοκαύσιμα πρώτης γενιάς</p>
    </div>
</div>
