<div class="body-container">
    <div class="main-slide expandable four-slides"
         data-active-background-position-x="0px" data-inactive-background-position-x="-400px"
         data-active-width="66%" data-inactive-width="24%"
         style="background-image: url(<%= image_url 'slide_01.jpg' %>); background-position: -400px;">
        <a href="#">
            <span class="table-cell">Pellet άλγης</span>
        </a>
    </div>

    <div class="content">
        <h1>Pellet άλγης</h1>

        <p>Τα pellet άλγης αποτελούν το ιδεώδες ανανεώσιμο καύσιμο.</p>
    </div>

    <div class="main-slide expandable four-slides"
         data-active-background-position-x="0px" data-inactive-background-position-x="-400px"
         data-active-width="66%" data-inactive-width="24%"
         style="background-image: url(<%= image_url 'slide_01.jpg' %>); background-position: -400px;">
        <a href="#">
            <span class="table-cell">Λάδι άλγης</span>
        </a>
    </div>

    <div class="content">
        <h1>Λάδι άλγης</h1>

        <p></p>
    </div>

    <div class="main-slide expandable four-slides"
         data-active-background-position-x="0px" data-inactive-background-position-x="-400px"
         data-active-width="66%" data-inactive-width="24%"
         style="background-image: url(<%= image_url 'slide_01.jpg' %>); background-position: -400px;">
        <a href="#">
            <span class="table-cell">Briquettes άλγης</span>
        </a>
    </div>

    <div class="content">
        <h1>Briquettes άλγης</h1>

        <p></p>
    </div>

    <div class="main-slide expandable four-slides last"
         data-active-background-position-x="0px" data-inactive-background-position-x="-400px"
         data-active-width="66%" data-inactive-width="25%"
         style="background-image: url(<%= image_url 'slide_01.jpg' %>); background-position: -400px;">
        <a href="#">
            <span class="table-cell">Συχνές ερωτήσεις</span>
        </a>
    </div>

    <div class="content last">
        <h1>Συχνές ερωτήσεις</h1>

        <p></p>
    </div>
</div>
