<div class="body-container">
    <div class="main-slide"
         style="background-image: url(<%= image_url 'vials.jpg' %>); width: 66%; margin-right: 1%;">
        <a href="">
            <span class="table-cell">Εξυπηρέτηση μετόχων</span>
        </a>
    </div>

    <div class="content">
        <h1>Εξυπηρέτηση μετόχων</h1>

        <p>
            &lt;Όνομα&gt; &lt;Επίθετο&gt;<br />
            E-mail: <%= mail_to 'ir@algae-farms.com' %><br />
            Τηλ: +30 XXXXXXXXXX<br />
            Κιν: +30 ΧΧΧΧΧΧΧΧΧΧ
        </p>
    </div>
</div>
