<div class="body-container">
    <div class="main-slide"
         style="background-image: url(<%= image_url Image.where(image_attachment_file_name: 'vials.jpg').first.image_attachment %>); width: 66%; margin-right: 1%;">
        <a href="">
            <span class="table-cell">Sitemap</span>
        </a>
    </div>

    <div class="content">
        <h1>Sitemap</h1>

        <ul>
            <% @sitemap_menu = Menu.where(title: 'Sitemap').first %>
            <% @sitemap_menu.linkables_menus.zip(@sitemap_menu.linkables_menus[1, @sitemap_menu.linkables_menus.size]).each do |current_item, next_item| %>
                <% more_depth = next_item.present? && next_item.depth > current_item.depth %>
                <% less_depth = next_item.present? && next_item.depth < current_item.depth %>
                <li>
                    <%= link_to current_item.linkable.title, current_item.linkable.url, current_item.linkable.link_options %>
                    <%= '<ul>'.html_safe if more_depth %>
                    <%= '</ul>'.html_safe if less_depth %>
                </li>
            <% end %>
        </ul>
    </div>
</div>
