<div class="body-container">
    <div class="main-slide"
         style="background-image: url(<%= image_url 'slide_01.jpg' %>); width: 66%; margin-right: 1%;">
        <a href="#">
            <span class="table-cell">Όροι Χρήσης</span>
        </a>
    </div>

    <div class="content" style="display: block">
        <h1>Όροι Χρήσης</h1>

        <h4>1. ΓΕΝΙΚΑ</h4>

        <p>Η Algae-Farms έχει δημιουργήσει τον δικτυακό τόπο <%= link_to root_url %> (αποκαλούμενο στο εξής «Ιστοσελίδα») για να παράσχει στους επισκέπτες/χρήστες της Ιστοσελίδας πληροφορίες για τα προϊόντα και τις υπηρεσίες που διαθέτει. Ο επισκέπτης/χρήστης της Ιστοσελίδας παραχωρεί τη συγκατάθεσή του στους κατωτέρω όρους χρήσης, που ισχύουν για το σύνολο του περιεχομένου, των σελίδων, των γραφικών, των εικόνων, των φωτογραφιών και των αρχείων που περιλαμβάνονται στην Ιστοσελίδα, οφείλει δε να διαβάσει προσεκτικά τους όρους αυτούς πριν από την επίσκεψη ή τη χρήση της Ιστοσελίδας. Εφ’ όσον διαφωνεί με τους παρακάτω όρους, οφείλει να μην κάνει χρήση των υπηρεσιών και του περιεχομένου της Ιστοσελίδας. Η εξακολούθηση της χρήσης της Ιστοσελίδας σημαίνει την ανεπιφύλακτη εκ μέρους του επισκέπτη/χρήστη αποδοχή των όρων αυτών. Ειδικά οι ανήλικοι επισκέπτες/χρήστες απαγορεύεται να κάνουν χρήση τυχόν των επιμέρους σελίδων και υπηρεσιών της Ιστοσελίδας, που σύμφωνα με το νόμο απευθύνονται αποκλειστικά σε ενήλικες.</p>

        <h4>2. ΕΙΔΙΚΕΣ ΔΙΑΤΑΞΕΙΣ</h4>

        <p>Η Algae-Farms έχει δικαίωμα τροποποίησης των παρόντων Όρων και Προϋποθέσεων οποτεδήποτε και χωρίς προηγούμενη ειδοποίηση του επισκέπτη/χρήστη της Ιστοσελίδας. Επίσης η Algae-Farms διατηρεί το δικαίωμα να διακόψει χωρίς προειδοποίηση, προσωρινά ή οριστικά τη λειτουργία της Ιστοσελίδας, εν όλω ή εν μέρει και για οποιοδήποτε λόγο.</p>

        <h4>3. ΔΙΚΑΙΩΜΑΤΑ ΠΝΕΥΜΑΤΙΚΗΣ ΚΑΙ ΒΙΟΜΗΧΑΝΙΚΗΣ ΙΔΙΟΚΤΗΣΙΑΣ</h4>

        <p>Εκτός των ρητά αναφερόμενων εξαιρέσεων (πνευματικά δικαιώματα τρίτων, συνεργατών και φορέων), όλο το περιεχόμενο της Ιστοσελίδας (συμπεριλαμβανομένων ενδεικτικά και όχι περιοριστικά εικόνων, γραφικών, φωτογραφιών, σχεδίων, κειμένων, των παρεχομένων υπηρεσιών και γενικά όλων των αρχείων αυτής της Ιστοσελίδας), αποτελεί πνευματική ιδιοκτησία, κατατεθειμένα σήματα και σήματα υπηρεσιών της Ιστοσελίδας και προστατεύονται κατά τις σχετικές διατάξεις του ελληνικού δικαίου, του ευρωπαϊκού δικαίου και των διεθνών συμβάσεων και παρέχονται στους χρήστες για προσωπική χρήση και σε καμία περίπτωση δεν επιτρέπεται εμπορική ή κερδοσκοπική τους εκμετάλλευση. Απαγορεύεται οποιαδήποτε απόπειρα χρήσης του περιεχομένου της Ιστοσελίδας, με οποιοδήποτε τρόπο ή μέσο για εμπορικούς ή άλλους σκοπούς, τμηματικά ή περιληπτικά χωρίς τη ρητή προηγούμενη έγγραφη συναίνεση της Algae-Farms. Η Algae-Farms επιφυλάσσεται έναντι πάντων για κάθε νόμιμο ή / και συμβατικό δικαίωμά της, πέραν των ρητώς αναφερομένων στην παρούσα παράγραφο.</p>

        <p>Τα λοιπά προϊόντα ή υπηρεσίες που εμφανίζονται στην Ιστοσελίδα και φέρουν τα σήματα άλλων οργανισμών, εταιρειών, συνεργατών φορέων, ενώσεων ή εκδόσεων, αποτελούν δική τους πνευματική και βιομηχανική ιδιοκτησία και συνεπώς οι φορείς αυτοί φέρουν τη σχετική ευθύνη, η δε εμφάνισή τους στην Ιστοσελίδα δεν αποτελεί εκχώρηση άδειας ή δικαιώματος χρήσης τους.</p>

        <h4>4. ΥΠΟΧΡΕΩΣΕΙΣ και ΕΥΘΥΝΗ ΕΠΙΣΚΕΠΤΗ / ΧΡΗΣΤΗ ΤΗΣ ΙΣΤΟΣΕΛΙΔΑΣ</h4>

        <p>Ο επισκέπτης/χρήστης των σελίδων και των υπηρεσιών της Ιστοσελίδας αναλαμβάνει την ευθύνη για οποιαδήποτε ζημία προκαλείται στην Ιστοσελίδα από κακή ή αθέμιτη χρήση. Ο επισκέπτης/χρήστης αναλαμβάνει την ευθύνης της σύννομης χρήσης της Ιστοσελίδας, υποχρεούται δε να απέχει από κάθε παράνομη, αθέμιτη και καταχρηστική χρήση της Ιστοσελίδας και να μην προβαίνει σε πράξεις που μπορούν βλάψουν τρίτους ή την Algae-Farms.</p>

        <p>Ο επισκέπτης/χρήστης φέρει αποκλειστική ευθύνη για τη χρήση της Ιστοσελίδας, καθώς και την ευθύνη για κάθε τυχόν ζημία που ήθελε προκληθεί σε αυτόν ή σε οιονδήποτε τρίτο εξ' αιτίας ή εξ' αφορμής της ως άνω χρήσης. Ο επισκέπτης/χρήστης υποχρεούται να αποζημιώσει πλήρως την Algae-Farms έναντι οποιασδήποτε αξίωσης έχει εγερθεί από οιονδήποτε τρίτο εξαιτίας της χρήσης της Ιστοσελίδας από τον επισκέπτη/χρήστη.</p>

        <p>Σε κάθε περίπτωση χρήσης της Ιστοσελίδας αντίθετης στους παρόντες όρους και προϋποθέσεις και το εκάστοτε ισχύον νομοθετικό πλαίσιο, ο επισκέπτης/χρήστης υποχρεούται να αποζημιώσει την Algae-Farms για κάθε θετική ή / και αποθετική ζημία ήθελε υποστεί από τις ως άνω ενέργειες.</p>

        <h4>5. ΥΠΟΧΡΕΩΣΕΙΣ και ΕΥΘΥΝΗ ΤΗΣ Algae-Farms</h4>

        <p>H Algae-Farms δεν ευθύνεται για οιανδήποτε ζημία (θετική, αποθετική, εξ’ αμελείας ή άλλη) ήθελε προκληθεί στους επισκέπτες/χρήστες της Ιστοσελίδας ή σε τρίτους από τη χρήση αυτής και του περιεχόμενου που είναι αναρτημένο σε αυτήν.</p>

        <p>Η Algae-Farms δεν εγγυάται σε καμία περίπτωση την αδιάλειπτη και εύρυθμη λειτουργία της Ιστοσελίδας ή των εξυπηρετητών που φιλοξενούν την Ιστοσελίδα, καθώς επίσης και ότι η Ιστοσελίδα ή οι εξυπηρετητές που τη φιλοξενούν είναι απαλλαγμένοι από ιούς ή άλλο λογισμικό κακόβουλης χρήσης ή άλλα επιζήμια στοιχεία. Συνεπώς η Algae-Farms δε φέρει καμία ευθύνη για οιανδήποτε τυχόν ζημία ήθελε προκληθεί στους επισκέπτες/χρήστες της Ιστοσελίδας ή σε τρίτους και η οποία θα σχετίζεται με τη λειτουργία της Ιστοσελίδας και των εξυπηρετητών που την φιλοξενούν.</p>

        <p>Η Algae-Farms δεν φέρνει καμία ευθύνη για την τυχόν παραβίαση των παρόντων όρων και προϋποθέσεων σε περιπτώσεις γεγονότος ανωτέρας βίας (ενδεικτικά και όχι περιοριστικά αναφέρονται: σεισμοί, εκτεταμένες φυσικές καταστροφές, πόλεμοι, ταραχές, δολιοφθορά, απεργίες, πυρκαγιές κ.λπ).</p>

        <p>Το περιεχόμενο και οι πληροφορίες που περιλαμβάνονται στην Ιστοσελίδα παρέχονται στον επισκέπτη/χρήστη της Ιστοσελίδας «ως έχουν» και δε δύνανται σε καμιά περίπτωση να εκληφθούν ως νομικές συμβουλές ή παροτρύνσεις για οποιαδήποτε πράξη. Οι επισκέπτες/χρήστες της Ιστοσελίδας καλούνται να εκτιμήσουν και να αξιολογήσουν μόνοι τους την ακρίβεια και την ποιότητα του περιεχόμενου της Ιστοσελίδας.</p>

        <h4>6. "ΣΥΝΔΕΣΜΟΙ" (LINKS) ΠΡΟΣ ΑΛΛΟΥΣ ΔΙΚΤΥΑΚΟΥΣ ΤΟΠΟΥΣ (WEBSITES).</h4>

        <p>Η Algae-Farms δεν ευθύνεται σε καμία περίπτωση για το περιεχόμενο και τις υπηρεσίες άλλων διαδικτυακών τόπων, των οποίων οι «σύνδεσμοι» (links) είναι αναρτημένοι στην Ιστοσελίδα. Η χρήση αυτών των συνδέσμων γίνεται με αποκλειστική ευθύνη του επισκέπτη/χρήστη της Ιστοσελίδας. H Algae-Farms δεν εγγυάται για τη διαθεσιμότητα των δικτυακών τόπων στους οποίους παραπέμπουν οι σύνδεσμοι που είναι αναρτημένοι στην Ιστοσελίδα και δεν ευθύνεται για οποιαδήποτε ζημία ήθελε τυχόν προκληθεί εκ της χρήσεώς τους.</p>

        <h4>7. ΚΑΤΑΧΩΡΗΣΗ / ΠΡΟΣΤΑΣΙΑ ΠΡΟΣΩΠΙΚΩΝ ΔΕΔΟΜΕΝΩΝ</h4>

        <p>Η διαχείριση και προστασία των προσωπικών δεδομένων του επισκέπτη/χρήστη της Ιστοσελίδας υπόκειται στους όρους του παρόντος τμήματος και διέπονται από τις σχετικές διατάξεις του ελληνικού (Ν. 2472/1997 για την προστασία του ατόμου από την προστασία δεδομένων προσωπικού χαρακτήρα όπως έχει συμπληρωθεί με τις αποφάσεις του Προέδρου της Επιτροπής Προστασίας Προσωπικών Δεδομένων, τα Π. Δ. 207/1998 και 79/2000 και το άρθρο 8 του Ν. 2819/2000) και του ευρωπαϊκού δικαίου (οδηγίες 95/46/ΕΚ και 97/66/ΕΚ).</p>

        <p>Η Algae-Farms δύναται να τηρεί και να επεξεργάζεται αρχείο προσωπικών δεδομένων που οι επισκέπτες/χρήστες καταχωρούν οικειοθελώς στην Ιστοσελίδα, πάντοτε σύμφωνα με τις ισχύουσες διατάξεις περί προστασίας και επεξεργασίας δεδομένων προσωπικού χαρακτήρα. Ο επισκέπτης/χρήστης δηλώνει και αποδέχεται ότι ευθύνεται αποκλειστικά για τη χρήση αυτών ή την τυχόν διαρροή τους από τον ίδιο ή τρίτους.</p>

        <p>Ο επισκέπτης/χρήστης της ιστοσελίδας αποδέχεται την τήρηση και επεξεργασία των προσωπικών του δεδομένων που οικειοθελώς υποβάλλει στην Ιστοσελίδα και έχει την αποκλειστική ευθύνη για την καταχώριση προσωπικών δεδομένων τρίτων χωρίς τη συγκατάθεσή τους καθώς και για την υποβολή ψευδών ή ανακριβών στοιχείων.</p>

        <p>Σε κάθε περίπτωση, επισκέπτης/χρήστης ο οποίος οικειοθελώς έχει καταχωρήσει προσωπικά δεδομένα στην Ιστοσελίδα, διατηρεί τα δικαιώματα επί των προσωπικών του δεδομένων, όπως αυτά απορρέουν από τον ισχύοντα νόμο.</p>

        <p>Η Algae-Farms δεν φέρει ευθύνη για οποιαδήποτε βλάβη ή ζημία τυχόν προκληθεί από την αυθαίρετη ή παράνομη χρήση από τρίτους των προσωπικών στοιχείων του επισκέπτη/χρήστη και διατηρεί το δικαίωμα να ζητήσει την καταβολή αποζημίωσης από τον επισκέπτη/χρήστη, σε περίπτωση που υποστεί οποιουδήποτε είδους ζημία από την αυθαίρετη ή παράνομη χρήση αυτών. Η Algae-Farms διατηρεί το δικαίωμα να αρνηθεί την απονομή κωδικού πρόσβασης ή να ακυρώσει απονεμηθέντα κωδικό ή να τερματίσει την παροχή των υπηρεσιών αυτών στον επισκέπτη/χρήστη σε περίπτωση παραβίασης των όρων χρήσης της Ιστοσελίδας.</p>

        <h4>8. ΕΦΑΡΜΟΣΤΕΟ ΔΙΚΑΙΟ - ΑΡΜΟΔΙΟΤΗΤΑ - ΤΕΛΙΚΕΣ ΔΙΑΤΑΞΕΙΣ</h4>

        <p>Οι παρόντες όροι και προϋποθέσεις χρήσης της Ιστοσελίδας διέπονται και συμπληρώνονται από το ελληνικό δίκαιο, το δίκαιο της ευρωπαϊκής ένωσης και τις σχετικές διεθνείς συνθήκες. Οποιαδήποτε διάταξη των ανωτέρω όρων καταστεί αντίθετη προς το νόμο, παύει αυτοδικαίως να ισχύει και αφαιρείται από το παρόν, χωρίς σε καμία περίπτωση να θίγεται η ισχύς των λοιπών όρων.</p>

        <p>Οποιαδήποτε παράλειψη άσκησης από την Algae-Farms συγκεκριμένου δικαιώματος που απορρέει από τους παρόντες όρους και προϋποθέσεις χρήσης της Ιστοσελίδας, δεν συνιστά παραίτηση από το δικαίωμα αυτό.</p>

        <p>Αρμόδια αρχή για την επίλυση οποιασδήποτε διαφοράς απορρέει από το παρόν ορίζονται τα Δικαστήρια Αθηνών.</p>
    </div>
</div>
