<div class="body-container">
    <div class="main-slide"
         style="background-image: url(<%= image_url 'facilities.png' %>); width: 33%; margin-right: 1%;">
        <%= link_to company_path do %>
            <span class="table-cell">Οι εγκαταστάσεις</span>
        <% end %>
    </div>

    <div class="content" style="width: 66%;">
        <h1>Οι εγκαταστάσεις</h1>

        <p>
            Η Algae Farms δραστηριοποιείται στον τομέα παραγωγής ανανεώσιμων και συμβατικών καύσιμων, παράγοντας pellets & briquettes άλγης, καθώς και βιοέλαιο άλγης (algae biooil) το οποίο αποτελεί πρώτη ύλη για βιοντίζελ (algae biodiesel), κατάλληλο για χρήση τόσο από βιομηχανικούς, βιοτεχνικούς και οικιακούς καταναλωτές, καθώς επίσης και για ναυτιλιακό και αεροπορικό βιοκαύσιμο.
        </p>
        <p>
            Η Algae Farms είναι σήμερα η μοναδική ελληνική εταιρεία η οποία χρησιμοποιεί άλγη για την παραγωγή των προϊόντων της και η μοναδική στη Ευρώπη που μπορεί να παραδώσει ανανεώσιμα βιοκαύσιμα από άλγη ή οποιαδήποτε άλλη ανανεώσιμη πηγή, σε κόστος χαμηλότερο από τα από τη σημερινή τιμή των συμβατικών καύσιμων πριν τη φορολόγηση.
        </p>
        <p>
            Η εταιρεία είναι εγκατεστημένη στην Βιομηχανική Περιοχή (ΒΙ.ΠΕ) Πρέβεζας και διαθέτει τις πλέον σύγχρονες εγκαταστάσεις, με εξοπλισμό τελευταίας τεχνολογίας. Όλη η διαδικασία ελέγχεται από ηλεκτρονικούς υπολογιστές, εξασφαλίζοντας έτσι την ομαλή παραγωγική διαδικασία και την εγγυημένη ποιότητα του τελικού προϊόντος.
        </p>
        <p>
            Επιπλέον, η εκμετάλλευση μη καλλιεργήσιμης γης για την φιλοξενία μονάδας εναλλακτικής αγροτικής καλλιέργειας όπως η παραγωγή άλγης αποτελεί μία πραγματικά πρωτοποριακή χρήση γης, ενώ ταυτόχρονα επιτρέπει να μην επηρεάζεται η παραγωγή τροφίμων, σε αντίθεση με άλλα βιοκαύσιμα των τελευταίων χρόνων (π.χ. σόγια, ηλίανθος, ζαχαροκάλαμο, ζαχαρότευτλα κλπ.) με κύριο αντίκτυπο στις τιμές των τελικών προϊόντων διατροφής.
        </p>
        <p>
            Τα δυο αυτά χαρακτηριστικά της άλγης είναι εκείνα τα οποία οδήγησαν και την Ευρωπαϊκή Ένωση να κατατάξουν την άλγη ως πρώτη επιλογή για τα βιοκαύσιμα δεύτερης γενιάς, εγκαταλείποντας σταδιακά μέχρι το 2020 τα βιοκαύσιμα πρώτης γενιάς
        </p>
    </div>
</div>
