<div class="body-container">
    <div class="main-slide"
         style="background-image: url(<%= image_url 'vision.png' %>); width: 33%; background-position: -190px; margin-right: 1%;">
        <%= link_to company_path do %>
            <span class="table-cell">Το όραμα μας</span>
        <% end %>
    </div>

    <div class="content" style="width: 66%;">
        <h1>Το όραμα μας</h1>

        <p>
            Η παραγωγή και η διαχείριση της ενέργειας αποτελεί σήμερα το επίκεντρο της διεθνούς οικονομικής και κοινωνικής ανάπτυξης. Οι ενεργειακές επιλογές έχουν άμεσο αντίκτυπο σε όλους τους τομείς της κοινωνικής και οικονομικής δραστηριότητας. Ταυτόχρονα, οι συνθήκες γίνονται ολοένα και πιο δύσκολες, καθώς:
        </p>
        <ul>
            <li>Η ζήτηση ενέργειας αυξάνεται με ραγδαίο ρυθμό, απαιτώντας όλο και περισσότερους ενεργειακούς πόρους.</li>
            <li>Η εξάρτηση από το πετρέλαιο είναι πολύ μεγάλη, με σημαντικό αντίκτυπο στο κόστος παραγωγής.</li>
            <li>Η χρήση συμβατικών καυσίμων έχει σημαντικές περιβαλλοντικές επιπτώσεις.</li>
            <li>Η παραγωγή ηλεκτρικής ενέργειας στην Ελλάδα είναι περιορισμένη. Είναι επομένως αναγκαία η εισαγωγή ενέργειας από γειτονικές χώρες, με σημαντικές απώλειες για την ελληνική οικονομία.</li>
        </ul>
        <p>
            Η Algae Farms δραστηριοποιείται στον τομέα παραγωγής ανανεώσιμων και συμβατικών καύσιμων, παράγοντας pellets & briquettes άλγης, καθώς και βιοέλαιο άλγης (algae biooil) το οποίο αποτελεί πρώτη ύλη για βιοντίζελ (algae biodiesel), κατάλληλο για χρήση τόσο από βιομηχανικούς, βιοτεχνικούς και οικιακούς καταναλωτές, καθώς επίσης και για ναυτιλιακό και αεροπορικό βιοκαύσιμο.
        </p>
        <p>
            Η εταιρεία Algae Farms είναι σήμερα η μοναδική ελληνική εταιρεία η οποία χρησιμοποιεί άλγη για την παραγωγή των προϊόντων της και η μοναδική στη Ευρώπη που μπορεί να παραδώσει ανανεώσιμα βιοκαύσιμα από άλγη ή οποιαδήποτε άλλη ανανεώσιμη πηγή, σε κόστος χαμηλότερο από τα από τη σημερινή τιμή των συμβατικών καύσιμων πριν τη φορολόγηση.
        </p>
        <p>
            Όραμά μας είναι η Algae Farms να γίνει μία από τις μεγαλύτερες εταιρείες παραγωγής βιοκαυσίμων, με πολλαπλά οικονομικά και περιβαλλοντικά οφέλη για την Εθνική και την τοπική οικονομία, μέσα από την υλοποίηση της πράσινης περιφερειακής ανάπτυξης, την ανάπτυξη της Καινοτομίας, τη δημιουργία νέων θέσεων εργασίας και τη συγκράτηση των τοπικών πληθυσμών.
        </p>
        <p>
            Στρατηγικός στόχος της εταιρείας είναι η αύξηση της διείσδυσης των ανανεώσιμων πηγών ενέργειας, με επίκεντρο τα βιοκαύσιμα, στην ελληνική αλλά και στη διεθνή ενεργειακή σκηνή και η προώθηση νέων τεχνολογιών και πρακτικών για τη βελτίωση της ενεργειακής αποδοτικότητας.
        </p>
    </div>
</div>
