<div class="body-container">
    <div class="main-slide"
         style="background-image: url(<%= image_url 'vials.png' %>); width: 66%; margin-right: 1%;">
        <%= link_to company_path do %>
            <span class="table-cell">Καλώς ήρθατε στην Algae farms</span>
        <% end %>
    </div>

    <div class="content">
        <h1>Καλώς ήρθατε στην Algae farms</h1>

        <p>Η εταιρεία δραστηριοποιείται στον τομέα των ανανεώσιμων και των συμβατικών καύσιμων, παράγοντας pellets & briquettes άλγης, βιοέλαιο άλγης (algae biooil) το οποίο αποτελεί πρώτη υλη για βιοντίζελ (algae biodiesel) , για χρήση από για βιομηχανικούς, βιοτεχνικούς, οικιακούς καταναλωτές καθώς επίσης για ναυτιλιακό και αεροπορικό βιοκαύσιμο.</p>

        <p>Η επένδυση αποτελεί υλοποίηση επέκταση της βραβευμένης με το πρώτο βραβείο στο διαγωνισμό “Make Innovation Work” του Ελληνοαμερικανικού Επιμελητηρίου και υπό την αιγίδα του κ Πρωθυπουργού πρότασης, με αντικείμενο την παραγωγή βιομάζας άλγης με υψηλή θερμιδική αξία ως εναλλακτικό καύσιμο.</p>

        <p>Ενδεικτικά αναφέρουμε ότι υπάρχουν περισσότερα από 300.000 είδη άλγης.</p>

        <p>Από την άλγη μπορούν να παραχθούν φαρμακευτικά προϊόντα (π.χ. υαλουρονικό οξύ, Ω3), καλλυντικά, πρωτεΐνες, ζωοτροφές, λιπάσματα, ενέργεια κλπ. Η συγκεκριμένη επένδυση επικεντρώνετε αποκλειστικά στον τομέα της ενέργειας.</p>

        <p>Η επιλογή της σωστής άλγης αποτελεί συνδυασμό των τοπικών κλιματολογικών συνθηκών και του τελικού προϊόντος που θα παραχθεί, στη συγκριμένη περίπτωση καύσιμο.</p>

        <p>Εκτός από την ανταγωνιστική τιμή θα πρέπει να τονίσουμε ότι η άλγη είναι εξαιρετικά φιλικό καύσιμο προς το περιβάλλον αν λάβουμε υπόψη ότι για κάθε 1 (ένα) κιλό άλγης που παράγουμε η άλγη μέσω της διαδικασίας φωτοσύνθεσης απορρόφα 2 (δυο) κιλά CO2.</p>

        <p>Επίσης θα πρέπει να τονίσουμε ότι για την παραγωγή άλγης δεν απαιτεί η χρήση παραγωγικής γης, με αποτέλεσμα να μην επηρεάζουμε την παραγωγή τροφίμων όπως άλλα βιοκαύσιμα τα τελευταία χρόνια (π.χ. σόγια, ηλίανθος, ζαχαροκάλαμο, ζαχαρότευτλα κλπ) με κύριο αντίκτυπο στις τιμές των τελικών προϊόντων διατροφής.</p>

        <p>Τα δυο προαναφερόμενα χαρακτηριστικά της άλγης είναι αυτά τα οποία οδήγησαν και την Ευρωπαϊκή ΈΈνωση να κατατάξουν την άλγη ως πρώτη επιλογή για τα βιοκαύσιμα δεύτερης γενιάς, εγκαταλείποντας σταδιακά μέχρι το 2020 τα βιοκαύσιμα πρώτης γενιάς, πως αυτά τα οποία αναφέρονται ανωτέρω.</p>

        <p>Η μέθοδος παραγωγής μας είναι η πρώτη που επέτρεψε να παράγετε άλγη σε μεγάλες ποσότητες με υψηλή θερμογόνα δύναμη και ανταγωνιστική τιμή δημιουργώντας ένα πραγματικό εμπορικό προϊόν. Την περίοδο αυτή βρισκόμαστε σε διαδικασία διεθνούς κατοχύρωσης της ερασιτεχνίας.</p>

        <p><span style="text-decoration: underline;">Η εταιρεία είναι η μοναδική ελληνική εταιρία η οποία χρησιμοποιεί για την παραγωγή των προϊόντων της, την άλγη και η μοναδική στη Ευρώπη που μπορεί να παραδώσει ανανεώσιμα βιοκαύσιμα από άλγη ή οποιαδήποτε άλλη ανανεώσιμη πηγή, σε κόστος χαμηλότερο από τα από τη σημερινή τιμή των συμβατικών καύσιμων πριν τη φορολόγηση.</span></p>

        <p>Η παραγωγική διαδικασία της εταιρεία προστατεύετε από διεθνείς πατέντες (σε εξέλιξη), αλλά θα συνέχιση να εξελίσσετε σε μια προσπάθεια να αποστασιοποιηθεί ακόμα περισσότερο από τον ανταγωνισμό.</p>

        <p>Έχοντας υπόψη όλα τα παραπάνω, τα οποία φυσικά και δεν αποτελούν ένα παροδικό γεγονός, τοποθετούμε το προϊόν μας στην αγορά ενέργειας , τόσο των συμβατικών καυσίμων όσο και των εναλλακτικών, <span style="text-decoration: underline;">με κύρια παράμετρο την εξαιρετικά ελκυστική του τιμή σε σχέση με τη θερμογόνο δύναμη του</span>, τόσο στη στερεά μορφή (pellets & briquettes άλγης), όσο και σε υγρή (βιοέλαιο άλγης-algae biooil και βιοντίζελ άλγης-algae biodiesel).</p>
    </div>
</div>
