<h1>Showing upload</h1>

<p>
  <strong>Title:</strong>
  <%= @upload.title %>
</p>

<p>
  <strong>File attachment:</strong>
  <%= link_to @upload.file_attachment, @upload.file_attachment.url %>
</p>

<%= link_to 'Edit', [:edit, :admin, @upload], class: 'btn btn-warning' %>
<%= link_to 'Back', [:admin, :uploads], class: 'btn btn-default' %>
