<div class="body-container">
    <div class="main-slide"
         style="background-image: url(<%= image_url 'vials.png' %>); width: 66%; margin-right: 1%;">
        <%= link_to products_path do %>
            <span class="table-cell">Πιστοποιήσεις</span>
        <% end %>
    </div>

    <div class="content">
        <h1>Πιστοποιήσεις</h1>

        <h3><a href="http://www.enplus-pellets.eu/" target="_blank">ENplus</a></h3>

        <p>
            Η υψηλή ποιότητα των προϊόντων από την επεξεργασία άλγης, αποτελεί δέσμευση για την Algae Farms.
        </p>
        <p>
            Για τον σκοπό αυτό η Algae Farms βρίσκεται σε διαδικασία πιστοποίησης σύμφωνα με το πρότυπο EN<i>plus</i>, που εξασφαλίζει σταθερή και αναγνωρισμένη ποιότητα σε ολόκληρο τον κύκλο ζωής του προϊόντος, από την παραγωγή μέχρι την διάθεση στον τελικό καταναλωτή.
        </p>
        <p>
            Το πιστοποιητικό ποιότητας <i>ENplus</i> χορηγείται από την European Biomass Association AEBIOM, και είναι διεθνώς αναγνωρισμένο, καθώς ισχύει και χρησιμοποιείται σε πάρα πολλές ευρωπαϊκές χώρες όπως στην <b><b>Αυστρία</b></b>, στο <b><b>Βέλγιο</b></b>, στην <b>Κροατία</b>, στην <b>Τσεχία</b>, στη <b>Δανία</b>, στη <b>Γαλλία</b>, στη <b>Γερμανία</b>, στην <b>Ιταλία</b>, στη <b>Λιθουανία</b>, στην <b>Πολωνία</b>, στην <b>Πορτογαλία</b>, στη <b>Ρουμανία</b>, στη <b>Σλοβενία</b>, στη <b>Σλοβακία</b>, στην <b>Ισπανία</b>, στην <b>Ελβετία</b>, στην <b>Ολλανδία</b> και στην <b>Αγγλία</b>, αλλά και στις <b>Η.Π.Α.</b> και στον <b>Καναδά</b>.
        </p>

        <h3><a href="http://www.iscc-system.org/" target="_blank">ISCC</a></h3>

        <p>
            Η υψηλή ποιότητα των προϊόντων από την επεξεργασία άλγης, αλλά και η αειφόρος λειτουργία αποτελεί δέσμευση για την Algae Farms.
        </p>
        <p>
            Για τον σκοπό αυτό η Algae Farms βρίσκεται σε διαδικασία πιστοποίησης σύμφωνα με το πρότυπο ISCC (International Sustainability & Carbon Certification).
        </p>
        <p>
            Το ISCC και το ISCC PLUS είναι ανεξάρτητα, εφαρμόσιμα σε παγκόσμια κλίμακα, συστήματα πιστοποίησης για την αειφορία και τις εκπομπές αερίων του θερμοκηπίου.
             Το ISCC εφαρμόζεται για την απόδειξη της συμμόρφωσης με τις απαιτήσεις αειφορίας από τις επιχειρήσεις. Το ISCC μπορεί να εφαρμοστεί για την πιστοποίηση όλων των ειδών βιομάζας και βιοενέργειας, καθώς και για τα προϊόντα με βάση τη βιομάζα στις βιομηχανίες τροφίμων, των ζωοτροφών και των χημικών.
        </p>
        <p>
            Το ISCC εξασφαλίζει ότι:
        </p>
        <ul>
            <li>Κατά την παραγωγή της βιομάζας οι εκπομπές αερίων του θερμοκηπίου μειώνονται.</li>
            <li>Η βιομάζα δεν παράγεται στη γη με υψηλή βιοποικιλότητα και υψηλά αποθέματα άνθρακα.</li>
            <li>Κατά την παραγωγή της βιομάζας εφαρμόζονται ορθές γεωργικές πρακτικές για την προστασία του εδάφους, του νερού και του αέρα.</li>
            <li>Κατά την παραγωγή γίνονται σεβαστά τα ανθρώπινα και εργασιακά δικαιώματα.</li>
        </ul>

        <h3><a href="http://www.iso.org/iso/iso_9000" target="_blank">ISO 9000</a></h3>

        <p>
            Η υψηλή ποιότητα των προϊόντων από την επεξεργασία άλγης αλλά και η αειφόρος και σωστή λειτουργία αποτελεί δέσμευση για την Algae Farms.
        </p>
        <p>
            Για τον σκοπό αυτό η Algae Farms βρίσκεται σε διαδικασία πιστοποίησης σύμφωνα με το πρότυπο ISO 9000.
        </p>
        <p>
            Το ISO 9000 είναι μια σειρά από πρότυπα, που έχει αναπτυχθεί και δημοσιευθεί από τον Διεθνή Οργανισμό Τυποποίησης (ISO), που ορίζουν πως να καταρτιστεί και να διατηρηθεί ένα αποτελεσματικό σύστημα διασφάλισης ποιότητας για τις βιομηχανίες και τις εταιρίες παροχής υπηρεσιών.
        </p>
        <p>
            Πάνω από ένα εκατομμύριο εταιρίες και οργανισμοί σε όλο τον κόσμο, είναι πιστοποιημένοι από ανεξάρτητους φορείς, καθιστώντας το ISO 9000 ένα από τα πιο ευρέως χρησιμοποιούμενα εργαλεία διαχείρισης στον κόσμο σήμερα.
        </p>

        <h3><a href="http://www.iso.org/iso/iso14000" target="_blank">ISO 14000</a></h3>

        <p>
            Η υψηλή ποιότητα των προϊόντων από την επεξεργασία άλγης, αλλά και η αειφόρος λειτουργία αποτελεί δέσμευση για την Algae Farms.
        </p>
        <p>
            Για τον σκοπό αυτό η Algae Farms βρίσκεται σε διαδικασία πιστοποίησης σύμφωνα με το πρότυπο ISO 14000.
        </p>
        <p>
            Το ISO 14000 είναι μια οικογένεια προτύπων που έχει αναπτυχθεί και δημοσιευθεί από τον Διεθνή Οργανισμό Τυποποίησης (ISO), και σχετίζονται με την περιβαλλοντική διαχείριση που υπάρχει για να βοηθήσει τους οργανισμούς:
        </p>
        <ul>
            <li>να ελαχιστοποιούν τις δραστηριότητές τους (διαδικασίες κ.λπ.) που επηρεάζουν αρνητικά το περιβάλλον (π.χ. δυσμενείς αλλαγές στον αέρα, το νερό ή το έδαφος)</li>
            <li>να συμμορφώνονται με τους ισχύοντες νόμους, κανονισμούς και άλλες περιβαλλοντικές απαιτήσεις, και</li>
            <li>τη συνεχή βελτίωση όλων των ανωτέρω</li>
        </ul>
    </div>
</div>
