<div class="body-container">
    <div class="main-slide"
         style="background-image: url(<%= image_url 'oil.png' %>); width: 66%; margin-right: 1%;">
        <%= link_to products_path do %>
            <span class="table-cell">Βιοέλαιο άλγης</span>
        <% end %>
    </div>

    <div class="content">
        <h1>Βιοέλαιο άλγης</h1>

        <p>
            Το βιοέλαιο άλγης αποτελεί το ιδανικό υγρό βιοκαύσιμο, μπορεί δε να χρησιμοποιηθεί είτε απ’ ευθείας σε μηχανές εσωτερικής καύσης που χρησιμοποιούν πετρέλαιο, ή κατόπιν επεξεργασίας ως biodiesel σε μηχανές diesel πιστοποιημένες για λειτουργία με biodiesel B100.
        </p>
        <p>
            Η χρήση του βιοελαίου άλγης είναι απόλυτα οικολογική, έχοντας αρνητικό (!) αποτύπωμα διοξειδίου του άνθρακα, καθώς για την παραγωγή του βιοελαίου δεσμεύεται περισσότερη -διπλάσια - ποσότητα διοξειδίου του άνθρακα απ’ ότι παράγεται κατά την καύση του.
        </p>
        <p>
            Επιπλέον εξασφαλίζεται απόλυτα σταθερή ποιότητα, διότι η πρώτη ύλη του παράγεται ειδικά για την παραγωγή βιοελαίου, χωρίς κανένα χημικό πρόσθετο προϊόν αλλά και με διαδικασία παραγωγής που σέβεται το απόλυτα περιβάλλον.
        </p>
        <p>
            Τα  βιοκαύσιμα από άλγη και ειδικά το βιοέλαιο αποτελούν την πρώτη επιλογή της Ευρωπαϊκής Ένωσης για τα βιοκαύσιμα 2ης γενιάς διότι η παραγωγική τους διαδικασία δεν καταλαμβάνει παραγωγική γεωργική γη όπως η παραγωγή βιοκαυσίμων από συμβατικά γεωργικά και δασικά προϊόντα αλλά επίσης διότι η άλγη παρουσιάζει τη μεγαλύτερη παραγωγικότητα ανά στρέμμα από όλα τα άλλα βιοκαύσιμα.
        </p>
        <p>
            Με απόλυτα σταθερή θερμογόνο δύναμη αποτελεί με βεβαιότητα το ανώτερο ποιοτικά διαθέσιμο προϊόν για την παραγωγή βιοντίζελ (biodiesel).
        </p>
        <p>
            Όλα τα παραπάνω ανώτερα από τον ανταγωνισμό ποιοτικά χαρακτηριστικά σε συνδυασμό και με την κατά 30% ανταγωνιστικότερη τιμή του, κατατάσσουν το βιοέλαιο άλγης στην πρώτη επιλογή της κατηγορίας των υγρών βιοκαυσίμων.
        </p>
    </div>
</div>
