<div class="body-container">
    <div class="main-slide"
         style="background-image: url(<%= image_url 'pellets.png' %>); width: 66%; margin-right: 1%;">
        <%= link_to products_path do %>
            <span class="table-cell">Pellets άλγης</span>
        <% end %>
    </div>

    <div class="content">
        <h1>Pellets άλγης</h1>

        <p>
            Τα pellets άλγης αποτελούν το ιδανικό στερεό βιοκαύσιμο, κυρίως για χρήση σε καυστήρες pellet, τόσο για οικιακή όσο και για βιομηχανική χρήση.
        </p>
        <p>
            Με απόλυτα σταθερή ποιότητα, διότι η πρώτη ύλη τους παράγεται ειδικά για την παραγωγή pellets, χωρίς κανένα χημικό πρόσθετο προϊόν αλλά και με διαδικασία παραγωγής που σέβεται το απόλυτα περιβάλλον.
        </p>
        <p>
            Τα  βιοκαύσιμα από άλγη αποτελούν την πρώτη επιλογή της Ευρωπαϊκής Ένωσης για τα βιοκαύσιμα 2ης γενιάς διότι η παραγωγική τους διαδικασία δεν καταλαμβάνει καλλιεργήσιμη γεωργική γη σε αντίθεση με την παραγωγή βιοκαυσίμων από συμβατικά γεωργικά και δασικά προϊόντα αλλά επίσης διότι η άλγη παρουσιάζει τη μεγαλύτερη παραγωγικότητα ανά στρέμμα από όλα τα άλλα βιοκαύσιμα.
        </p>
        <p>
            Με απόλυτα σταθερή θερμογόνο δύναμη 4.000 Kcal/Kg, υγρασία μόλις 5% τη χαμηλότερη της αγοράς και υπόλειμμα στάχτης λιγότερο από 0,1% επίσης το χαμηλότερο της αγοράς , αποτελούν με βεβαιότητα το ανώτερο ποιοτικά διαθέσιμο προϊόν pellet.
        </p>
        <p>
            Όλα τα παραπάνω ποιοτικά χαρακτηριστικά ανώτερα από τον ανταγωνισμό, σε συνδυασμό και με την κατά περίπου 30% ανταγωνιστικότερη τιμή τους, κατατάσσουν τα pellets άλγης στην πρώτη επιλογή της κατηγορίας των pellets.
        </p>
        <p>
            Τα  pellets άλγης της Algae Farms παραδίδονται σε συσκευασίες των δεκαπέντε (15) κιλών (πλαστικοί σάκοι) ή σε μεγασάκους (big bags) του 1ος τόνου.
        </p>
    </div>
</div>
