/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require static
 */

@import "common/colors";
@import "common/text";

.container {
  width: 1240px;
  margin: 0 auto;
}

.logo {
  float: left;
  height: 70px;
}

.menu {
  @include text-menu;

  text-align: right;
  float: right;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid 1px $grey;

  > ul {
    margin: 0;

    > li {
      display: inline-block;
      margin-left: 5px;
      margin-top: 34px;

      a {
        display: block;
        padding: 7px 10px;

        &:hover {
          color: $white;
        }
      }

      position: relative;

      nav {
        display: none;
        position: absolute;
        background-color: $light-green;
        width: 300px;
        text-align: left;

        ul {
          list-style: none;
          padding: 10px 20px;

          li {
            border-bottom: solid 1px $white;

            &.last {
              border-bottom: 0;
            }
          }
        }
      }

      &:hover {
        background-color: $light-green;

        nav {
          display: block;
        }
      }
    }
  }
}

table {
  border-collapse: collapse;
  th, td {
    border: solid 1px;
  }

  td {
    vertical-align: top;
    padding: 3px 10px;
  }
}

.clear {
  clear: both;
}

.cookies {
  @include text-menu-bottom;
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  border: solid 1px $grey;
  padding: 4px;
}

.menu-bottom {
  @include text-menu-bottom;

  border-top: solid 1px $grey;
  border-bottom: solid 1px $grey;
  padding: 4px 10px;
  text-align: right;
}

.copyright {
  @include text-copyright;
  padding: 4px 10px;
  text-align: right;
}
