/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "common/colors";
@import "common/text";

.container {
  width: 1240px;
  margin: 0 auto;
}

.logo {
  float: left;
  height: 70px;
}

.menu {
  @include text-menu;

  text-align: right;
  float: right;
  width: 79%;
  padding-top: 27px;
  padding-bottom: 5px;
  border-bottom: solid 1px $grey;

  > a {
    display: inline-block;
    padding: 5px 5px;
    margin-left: 10px;

    &:hover {
      background-color: $light-green;
      color: $white;
    }
  }
}

.clear {
  clear: both;
}

.menu-bottom {
  @include text-menu-bottom;

  position: relative;
  border-top: solid 1px $grey;
  border-bottom: solid 1px $grey;
  padding: 4px 10px;

  .follow-us {
    position: absolute;
    right: 0;
    top: 11px;
    background-color: $white;
    padding: 0 10px;

    img {
      vertical-align: bottom;
    }
  }
}

.copyright {
  @include text-copyright;
  padding: 4px 10px;
}
