<h1>Showing menu</h1>

<p>
  <strong>Title:</strong>
  <%= @menu.title %>
</p>

<%= link_to 'Edit', [:edit, :admin, @menu], class: 'btn btn-warning' %>
<%= link_to 'Back', [:admin, :menus], class: 'btn btn-default' %>
